body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #4CAF50; /* Green text */
}

h1 {
    font-size: 2em;  /* Decrease the size */
    text-align: center;
    margin: 0.5em auto;  /* Decrease the margin */
    border-radius: 0.5em;  /* Rounded corners */
    width: fit-content;  /* Fits the width to the content */
    align-self: center;  /* Center in the parent container */
}

#app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

#code-section {
    flex-basis: 30%;
    padding: 20px;
}

#art-section {
    flex-basis: 60%;
    padding: 20px;
}

textarea {
    width: 100%;
    margin-bottom: 1em;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #45a049;
}

#canvas {
    --grid-dimensions: 16; /* Default grid size */
    --pixel-size: calc(640px / var(--grid-dimensions));
    width: 640px;
    height: 640px;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(var(--grid-dimensions), var(--pixel-size));
    grid-template-rows: repeat(var(--grid-dimensions), var(--pixel-size));
    margin: auto;
}

.pixel {
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
    box-sizing: border-box;
    background-color: #fff;
}

#color-picker {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
